.popup__closebutton-img {
  width: 32px;
  cursor: url(../../../../images/kursor.svg) 2 2, default;
}

@media screen and (max-width: 880px) {
  .popup__closebutton-img {
    width: 20px;
  }
}