.body {
  background-color: black;
  width: 1280px;
  height: 1217px;
  color: white;
  margin: 0 auto 0 auto;
}

.button {
  border-style: none;
  border-color: white;
  background-color: #000;
}

.header {
  display: flex;
  flex-direction: column;
  padding: 45px 200px 0 200px;
  row-gap: 41px;
}

.header__logo {
  width: 142px;
  height: 33px;
}

.profile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 40px 20px 51px 200px;
  width: 880px;
  height: 120px;
}

.profile__avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.elements {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  max-width: 880px;
  max-height: 744px;
  row-gap: 20px;
  column-gap: 17px;
  margin: 0 auto 0 auto;
}

.element__photo {
  width: 282px;
  height: 282px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.element {
  background-color: white;
  width: 282px;
  height: 361px;
  color: black;
  border-radius: 10px;
}

.footer {
  padding: 0 0 60px 200px;
}