@import url(./vendor/normalize.css);
@import url(./vendor/fonts.css);

.page {
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  text-rendering: optimizeLegibility;
  background-color: black;
  color: white;
  max-width: 1280px;
  /* height: 1217px; */
  margin: 0 auto 0 auto;
}

@media screen and (max-width: 800px) {
  .page {
   max-width: 800px;
  }
}

.header {
  display: flex;
  flex-direction: column;
  padding: 45px 200px 0 200px;
  row-gap: 41px;
}

.header__logo {
  width: 142px;
  height: 33px;
}

.profile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 40px 0 51px 0;
  margin: 0 auto 0 auto;
  width: 880px;
  height: 120px;
}

@media screen and (max-width: 800px) {
  .profile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.profile__content {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 800px) {
  .profile__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.profile__info {
  display: flex;
  flex-direction: column;
  padding: 0 0 0 30px;
}

.profile__title {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

@media screen and (max-width: 800px) {
  .profile__title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.profile__avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.profile__name {
  font-weight: 500;
  font-size: 42px;
  line-height: 114%;
  padding: 22px 18px 16px 0;
  margin: 0;
  width: 294px;
  height: 39px;
}

.profile__about {
  font-weight: 400;
  font-size: 18px;
  line-height: 21.78px;
  margin: 0;
  /* padding: 16px 0 0 0; */
}

.profile__button {
  /* display: flex;
  justify-content: center; */
  border-style: none;
  background-color: black;
  padding: 0;
}

.profile__editbutton {
  padding: 0 0 16px 0;
}

.profile__addbutton {
  width: 150px;
  height: 50px;
  padding: 0;
}

.elements {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  max-width: 880px;
  max-height: 744px;
  row-gap: 20px;
  column-gap: 17px;
  margin: 0 auto 0 auto;
}

.element {
  background-color: white;
  width: 282px;
  height: 361px;
  color: black;
  border-radius: 10px;
}

.element__photo {
  width: 282px;
  height: 282px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
  box-shadow: 0px 0px 25px;
}

.element__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 246px;
  height: 23px;
  padding: 25px 15px 31px 21px;
}

.element__text {
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 246px;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
}

.element__button {
  background-color: white;
  border-style: none;
  padding: 0;
}

.footer__copyright {
  padding: 67px 200px 60px 200px;
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #545454;
}