@import url(./vendor/normalize.css);
@import url(./vendor/fonts.css);

.link:hover {
  opacity: 0.6;
  transition: opacity 1s linear;
}

.page {
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  text-rendering: optimizeLegibility;
  background-color: black;
  color: white;
  max-width: 1280px;
  /* height: 1217px; */
  margin: 0 auto 0 auto;
}

@media screen and (max-width: 880px) {
  .page {
    max-width: 320px;
    min-height: 2814px;
  }
}

.header {
  display: flex;
  flex-direction: column;
  padding: 45px 200px 0 200px;
  row-gap: 41px;
}

@media screen and (max-width: 880px) {
  .header {
    max-width: 320px;
    /* height: 56px; */
    padding: 45px 0 0 0;
  }
}

.header__logo {
  width: 142px;
  height: 33px;
}

@media screen and (max-width: 880px) {
  .header__logo {
    width: 103.74px;
    height: 24.4px;
  }
}

.profile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0 51px 0;
  margin: 0 auto 0 auto;
  max-width: 880px;
  height: 120px;
}

@media screen and (max-width: 880px) {
  .profile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 282px;
    min-height: 286px;
    padding: 0;
    margin: 42px auto 36px auto;
  }
}

.profile__content {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 880px) {
  .profile__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.profile__info {
  display: flex;
  flex-direction: column;
  padding: 0 0 0 30px;
}

@media screen and (max-width: 880px) {
  .profile__info {
    padding: 22.25px 0 0 0;
  }
}

.profile__title {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

@media screen and (max-width: 880px) {
  .profile__title {
    justify-content: center;
    /* align-items: center;
    width: 282px; */
    padding: 0 0 14px 0;
  }
}

.profile__avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

/* @media screen and (max-width: 880px) {
  .profile__avatar {
    padding: 22.25px 0 22.25px 0;
  }
} */

.profile__name {
  font-weight: 500;
  font-size: 42px;
  line-height: 114%;
  padding: 22px 18px 0 0;
  margin: 0;
  width: 294px;
  height: 39px;
}

@media screen and (max-width: 880px) {
  .profile__name {
    font-size: 27px;
    line-height: 33px;
    text-align: center;
    padding: 0;
    width: 189px;
    height: 26px;
    padding: 0 10px 0 0;
  }
}

.profile__about {
  font-weight: 400;
  font-size: 18px;
  line-height: 21.78px;
  margin: 0;
  padding: 16px 0 0 0;
}

@media screen and (max-width: 880px) {
  .profile__about {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    padding: 0 0 36px 0;
  }
}

.profile__editbutton {
  padding: 0;
  width: fit-content;
  height: 24px;
  border-style: none;
  background-color: black;
  margin: 0;
}

@media screen and (max-width: 880px) {
  .profile__edit-button {
    width: 18px;
    height: 18px;
    padding: 0;
  }
}

/* .profile__openpopup {
  display: contents;
  width: 24px; 
  height: 24px;
} */

.profile__addbutton {
  width: 150px;
  height: 50px;
  padding: 0;
  border-style: none;
  background-color: black;
  width: fit-content;
  margin: 0;
}

.profile__addbutton-img {
  width: 150px;
  height: 50px;
  background-image: url(./images/addbutton-1.svg);
}

@media screen and (max-width: 880px) {
  .profile__addbutton-img {
    width: 282px;
    height: 50px;
    background-image: url(./images/addbuttonmobile.svg);
    object-fit: cover;
  }
}

/* @media screen and (max-width: 880px) {
  .profile__addbutton {
    width: 282px;
    height: 50px;
    background-image: url(./images/addbuttonmobile.svg);
  }
} */

.elements {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  max-width: 880px;
  /* max-height: 744px; */
  row-gap: 20px;
  column-gap: 17px;
  margin: 0 auto 0 auto;
}

@media screen and (max-width: 880px) {
  .elements {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
    max-width: 320px;
    padding: 0 19px 0 19px;
  }
}

.element {
  background-color: white;
  width: 282px;
  height: 361px;
  color: black;
  border-radius: 10px;
}

.element__photo {
  width: 282px;
  height: 282px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
  box-shadow: 0px 0px 25px;
}

.element__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 246px;
  height: 23px;
  padding: 25px 15px 31px 21px;
}

.element__text {
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 246px;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
}

.element__button {
  background-color: white;
  border-style: none;
  padding: 0;
}

.footer__copyright {
  padding: 67px 0 60px 0;
  display: flex;
  justify-content: flex-start;
  margin: 0 auto 0 auto;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #545454;
  width: 100%;
  max-width: 880px;
}

@media screen and (max-width: 880px) {
  .footer__copyright {
    font-size: 14px;
    line-height: 17px;
    padding: 48px 0 36px 19px;
    max-width: 282px;
  }
}

.popup {
  display: none;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100vh;

  /* opacity: 0;
  pointer-events: none; */
}

/* .profile__editbutton_popup_opened {
 display: flex;
} */

.popup__background {
  width: 100%;
  height: 100vh;
  background-color: black;
  top: 0;
  left: 0;
  position: fixed;
  opacity: 0.5;
}

.popup__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  width: 430px;
  height: 330px;
  background-color: white;
  margin: auto;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  /* position: relative;
  z-index: +2; */
  position: fixed;
  left: auto;
  top: 22%;
}

@media screen and (max-width: 880px) {
  .popup__container {
    width: 282px;
    height: 322px;
  }
}

.popup__closebutton {
  /* position: absolute; */
  display: flex;
  justify-content: flex-end;
  width: 510px;
  height: 32px;
  margin: 0 auto 0 auto;
  padding: 0 0 8px 0;
  /* z-index: 1; */
  position: fixed;
  top: 17.5%;
  left: auto;
}

@media screen and (max-width: 880px) {
  .popup__closebutton {
    width: 282px;
    height: 20px;
  }
}

.popup__editprofile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 24px 0 0 0;
  width: 430px;
  height: 330px;
}

@media screen and (max-width: 880px) {
  .popup__editprofile {
    width: 282px;
    height: 322px;
    padding: 44px 0 0 0;
  }
}

.popup__title {
  color: black;
  margin: 0 auto 0 auto;
  padding: 34px 0 0 0;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  width: 358px;
  height: 23px;
}

@media screen and (max-width: 880px) {
  .popup__title {
    width: 238px;
    height: 22px;
    font-weight: 900;
    font-size: 18px;
    line-height: 22px;
    padding: 25px 0 0 0;
  }
}

.popup__form {
  margin: 0 auto 0 auto;
  color: black;
  padding: 30px 0 13px 0;
  width: 358px;
  height: 14px;
}

@media screen and (max-width: 880px) {
  .popup__form {
    width: 238px;
    height: 14px;
  }
}

.popup__editform {
  border: 0;
  color: black;
  width: 358px;
  height: 14px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  padding: 0;
}

@media screen and (max-width: 880px) {
  .popup__editform {
    width: 238px;
    height: 14px;
  }
}

.popup__line {
  width: 358px;
  height: 2px;
}

@media screen and (max-width: 880px) {
  .popup__line {
    width: 238px;
    height: 2px;
  }
}

.popup__savebutton {
  background-color: black;
  color: white;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  margin: 48px auto 37px auto;
  width: 358px;
  height: 50px;
  border-radius: 2px;
  border: 0;
  padding: 0;
}

@media screen and (max-width: 880px) {
  .popup__savebutton {
    width: 238px;
    height: 46px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    margin: 45px auto 25px auto;
  }
}