.header {
  display: flex;
  flex-direction: column;
  padding: 45px 200px 0 200px;
  row-gap: 41px;
}

@media screen and (max-width: 880px) {
  .header {
    display: block;
    max-width: 320px;
    height: 56px;
    padding: 28px 0 0 0;
  }
}