.profile__title {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding: 22px 0 0 0;
}

@media screen and (max-width: 880px) {
  .profile__title {
    justify-content: center;
    width: 282px;
    padding: 0 0 9px 25px;
  }
}