.popup__savebutton {
  background-color: black;
  color: white;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  margin: 48px auto 37px auto;
  width: 358px;
  height: 50px;
  border-radius: 2px;
  border: 0;
  padding: 0;
}

@media screen and (max-width: 880px) {
  .popup__savebutton {
    width: 238px;
    height: 46px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    margin: 45px auto 25px auto;
  }
}