.element__button {
  background-color: white;
  border-style: none;
  padding: 0;
  background-image: url(../../../images/like.svg);
  min-width: 22px;
  height: 19px;
  cursor: url(../../../../images/kursor.svg) 2 2, default;
}